In [2]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

In [3]:
df = pd.DataFrame({'Remark':['good','better','best','good']})

encoder = OrdinalEncoder(categories=[['good','better','best']])
df['Encoded Column'] = encoder.fit_transform(df[['Remark']])

# fit -> Learns mapping good = 0 , better=1,best=2
#Transform -> Replace the actual text with numerical value

In [4]:
df

   Remark  Encoded Column
0    good             0.0
1  better             1.0
2    best             2.0
3    good             0.0

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
import pandas as pd
df1= pd.DataFrame({'Colors':['red','green','blue','blue','green']})

In [7]:
# we'll create the object of the onehotencoder class

enc = OneHotEncoder(sparse_output=False)  

encoded_data = enc.fit_transform(df1[['Colors']])

In [8]:
encoded_data

array([[0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [9]:
df_encoded = pd.DataFrame(encoded_data,columns = enc.get_feature_names_out(['Colors']))
print(df_encoded)

   Colors_blue  Colors_green  Colors_red
0          0.0           0.0         1.0
1          0.0           1.0         0.0
2          1.0           0.0         0.0
3          1.0           0.0         0.0
4          0.0           1.0         0.0

In [10]:
# get dummies

df_enc = pd.get_dummies(df1,columns=['Colors'],dtype=int)

In [11]:
df_enc

   Colors_blue  Colors_green  Colors_red
0            0             0           1
1            0             1           0
2            1             0           0
3            1             0           0
4            0             1           0

In [14]:
# Import the min max scaler (normalization)

from sklearn.preprocessing import MinMaxScaler

df2 = pd.DataFrame({
    'Age':[10,20,30,40,50],
    'Salary':[10000,20000,30000,40000,50000]
})

# Creating the object of minmaxscaler
scaler = MinMaxScaler()

scaled_values = scaler.fit_transform(df2)

In [15]:
scaled_df = pd.DataFrame(scaled_values,columns=df2.columns)

In [16]:
scaled_df

    Age  Salary
0  0.00    0.00
1  0.25    0.25
2  0.50    0.50
3  0.75    0.75
4  1.00    1.00