In [88]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('loan_data.csv')
df

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      45000 non-null  float64
 1   person_gender                   45000 non-null  object
 2   person_education                45000 non-null  object
 3   person_income                   45000 non-null  float64
 4   person_emp_exp                  45000 non-null  int64
 5   person_home_ownership           45000 non-null  object
 6   loan_amnt                       45000 non-null  float64
 7   loan_intent                     45000 non-null  object
 8   loan_int_rate                   45000 non-null  float64
 9   loan_percent_income             45000 non-null  float64
 10  cb_person_cred_hist_length      45000 non-null  float64
 11  credit_score                    45000 non-null  int64
 12  previous_loan_defaults_on_file  45000 non-null  object
 13  loan_status                     45000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 4.8+ MB

In [91]:
num_cols=df.select_dtypes(include='float').columns
cat_cols=df.select_dtypes(include='object').columns

In [92]:
df[num_cols]

,person_age,person_income,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,22.0,71948.0,35000.0,16.02,0.49,3.0
1,21.0,12282.0,1000.0,11.14,0.08,2.0
2,25.0,12438.0,5500.0,12.87,0.44,3.0
3,23.0,79753.0,35000.0,15.23,0.44,2.0
4,24.0,66135.0,35000.0,14.27,0.53,4.0
...,...,...,...,...,...,...
44995,27.0,47971.0,15000.0,15.66,0.31,3.0
44996,37.0,65800.0,9000.0,14.07,0.14,11.0
44997,33.0,56942.0,2771.0,10.02,0.05,10.0
44998,29.0,33164.0,12000.0,13.23,0.36,6.0
44999,24.0,51609.0,6665.0,17.05,0.13,3.0

In [93]:
df[cat_cols]

,person_gender,person_education,person_home_ownership,loan_intent,previous_loan_defaults_on_file
0,female,Master,RENT,PERSONAL,No
1,female,High School,OWN,EDUCATION,Yes
2,female,High School,MORTGAGE,MEDICAL,No
3,female,Bachelor,RENT,MEDICAL,No
4,male,Master,RENT,MEDICAL,No
...,...,...,...,...,...
44995,male,Associate,RENT,MEDICAL,No
44996,female,Associate,RENT,HOMEIMPROVEMENT,No
44997,male,Associate,RENT,DEBTCONSOLIDATION,No
44998,male,Bachelor,RENT,EDUCATION,No
44999,male,High School,RENT,DEBTCONSOLIDATION,No

In [94]:
from sklearn.preprocessing import StandardScaler

In [95]:
# Here we have created the object of standard scaler
scaler = StandardScaler()

# Here we have fit and transformed the numerical columns
scaled_value = scaler.fit_transform(df[num_cols])

# Scaled Dataframe
scaled_df=pd.DataFrame(scaled_value,columns=num_cols)
scaled_df

,person_age,person_income,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,-0.953538,-0.104090,4.024953,1.683039,4.016394,-0.739109
1,-1.118963,-0.846005,-1.359209,0.044782,-0.684829,-0.996863
2,-0.457264,-0.844065,-0.646600,0.625557,3.443074,-0.739109
3,-0.788113,-0.007039,4.024953,1.417829,3.443074,-0.996863
4,-0.622689,-0.176371,4.024953,1.095549,4.475050,-0.481354
...,...,...,...,...,...,...
44995,-0.126414,-0.402231,0.857799,1.562184,1.952442,-0.739109
44996,1.527834,-0.180537,-0.092348,1.028407,0.003155,1.322928
44997,0.866135,-0.290681,-1.078758,-0.331212,-1.028821,1.065174
44998,0.204436,-0.586348,0.382726,0.746412,2.525762,0.034155
44999,-0.622689,-0.356994,-0.462113,2.028819,-0.111509,-0.739109

In [96]:
cat_cols

Index(['person_gender', 'person_education', 'person_home_ownership',
       'loan_intent', 'previous_loan_defaults_on_file'],
      dtype='object')

In [97]:
from sklearn.preprocessing import LabelEncoder

Label_enc = LabelEncoder()

for col in cat_cols:
    df[col]=Label_enc.fit_transform(df[col])

In [98]:
df[cat_cols]

,person_gender,person_education,person_home_ownership,loan_intent,previous_loan_defaults_on_file
0,0,4,3,4,0
1,0,3,2,1,1
2,0,3,0,3,0
3,0,1,3,3,0
4,1,4,3,3,0
...,...,...,...,...,...
44995,1,0,3,3,0
44996,0,0,3,2,0
44997,1,0,3,0,0
44998,1,1,3,1,0
44999,1,3,3,0,0

In [99]:
encoded_df = df[cat_cols]
# features
X = pd.concat([scaled_df,encoded_df],axis=1)
Y = df['loan_status']

In [100]:
X

,person_age,person_income,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_gender,person_education,person_home_ownership,loan_intent,previous_loan_defaults_on_file
0,-0.953538,-0.104090,4.024953,1.683039,4.016394,-0.739109,0,4,3,4,0
1,-1.118963,-0.846005,-1.359209,0.044782,-0.684829,-0.996863,0,3,2,1,1
2,-0.457264,-0.844065,-0.646600,0.625557,3.443074,-0.739109,0,3,0,3,0
3,-0.788113,-0.007039,4.024953,1.417829,3.443074,-0.996863,0,1,3,3,0
4,-0.622689,-0.176371,4.024953,1.095549,4.475050,-0.481354,1,4,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...
44995,-0.126414,-0.402231,0.857799,1.562184,1.952442,-0.739109,1,0,3,3,0
44996,1.527834,-0.180537,-0.092348,1.028407,0.003155,1.322928,0,0,3,2,0
44997,0.866135,-0.290681,-1.078758,-0.331212,-1.028821,1.065174,1,0,3,0,0
44998,0.204436,-0.586348,0.382726,0.746412,2.525762,0.034155,1,1,3,1,0
44999,-0.622689,-0.356994,-0.462113,2.028819,-0.111509,-0.739109,1,3,3,0,0

In [101]:
Y

0        1
1        0
2        1
3        1
4        1
        ..
44995    1
44996    1
44997    1
44998    1
44999    1
Name: loan_status, Length: 45000, dtype: int64

In [102]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [103]:
X_train

,person_age,person_income,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_gender,person_education,person_home_ownership,loan_intent,previous_loan_defaults_on_file
12312,-0.622689,0.204770,2.441376,0.001139,1.379122,-0.996863,1,3,0,3,1
2558,-1.118963,-0.542069,-1.042494,0.296563,-0.684829,-0.481354,0,1,3,1,1
17819,-0.291839,-0.521129,-0.725778,-0.797847,-0.111509,-0.996863,0,3,3,4,1
10230,-0.953538,-0.000249,0.857799,1.270117,0.576474,-0.739109,1,3,2,5,1
3466,-0.953538,0.129915,0.192696,-0.465495,-0.226173,-0.739109,1,0,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...
33326,-0.622689,0.033734,0.201881,-0.482281,-0.111509,-0.481354,0,1,0,5,0
32788,0.369861,1.623232,1.310860,-1.559905,-0.684829,0.807419,1,1,3,1,0
17129,-0.953538,-0.274268,-0.725778,-1.348409,-0.570165,-0.996863,1,1,3,1,1
27786,-0.126414,1.550428,1.016157,-1.751259,-0.684829,0.549665,0,4,3,2,0
7651,-0.457264,0.211609,-0.428858,0.286492,-0.799493,-0.996863,1,1,3,3,1

In [104]:
X_test

,person_age,person_income,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,person_gender,person_education,person_home_ownership,loan_intent,previous_loan_defaults_on_file
13408,-0.788113,-0.291987,-1.097919,-0.139858,-1.028821,-0.996863,1,1,3,4,1
28565,0.039011,0.103118,-1.359209,0.001139,-1.487477,0.291910,0,4,3,0,0
19169,1.031560,-0.240210,-1.137509,0.833696,-1.143485,0.807419,0,0,3,1,1
13338,-0.953538,-0.147100,-1.074165,1.444686,-1.143485,-0.996863,1,3,3,5,1
4715,-0.953538,-0.567112,-0.725778,0.001139,0.003155,-0.739109,0,3,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...
41867,-0.457264,-0.314431,1.175306,0.289849,1.952442,-0.996863,0,0,0,3,0
935,-0.622689,0.177874,1.412051,1.451400,0.691138,-0.996863,1,1,3,5,0
30017,3.182083,-0.327201,-0.884136,0.044782,-0.799493,2.611702,0,4,2,2,1
12826,-0.788113,0.280272,0.066010,-0.217071,-0.455501,-0.481354,0,4,0,5,0
30768,2.354959,-0.019722,2.085071,-0.707205,1.723114,1.580683,0,1,2,1,1

In [105]:
Y_train.shape

(36000,)

In [106]:
Y_test.shape

(9000,)